<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      h1 {
        color: red;
        text-align: center;
        display: block;
      }

      table {
        background: #ddd;
        padding: 15px;
        border: 1px solid #000;
        margin: 0 auto;
      }
      #error-message {
        margin: 15px auto;
        color: rgb(255, 227, 227);
        text-align: left;
        background-color: red;
        padding: 15px;
        border: 1px solid black;
        display: none;
        list-style-type: none;
      }
    </style>
    <title>Đăng nhập</title>
  </head>

  <body>
    <form action="handle-login.php" method="post" id="login-form">
      <h1>Đăng nhập</h1>
      <ul id="error-message"></ul>
      <table>
        <tr>
          <td>Tên đăng nhập:</td>
          <td><input type="text" name="username" /></td>
        </tr>
        <tr>
          <td>Mật khẩu:</td>
          <td><input type="password" name="password" /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button type="submit">Đăng nhập</button>
          </td>
        </tr>
        <tr>
          <td>chưa có tài khoản? <a href="./signup.html">Đăng kí</a></td>
        </tr>
      </table>
    </form>
    <script>
      const form = document.getElementById("login-form");
      const errorMessageWrapper = document.getElementById("error-message");

      form.addEventListener("submit", function(e) {
        e.preventDefault();
        let errors = [];
        const username = form.querySelector("input[name='username']").value;
        const password = form.querySelector("input[name='password']").value;
        if (username.trim() === "") {
          errors.push("Tên đăng nhập không được trống");
        } else if (!username.match(/^[A-Za-z][A-Za-z0-9]{5,14}/g)) {
          errors.push(
            "Tên đăng nhập phải có từ 6-15 kí tự và phải bắt đầu bằng chữ cái"
          );
        }
        if (password.trim() === "") {
          errors.push("Mật khẩu không được trống");
        } else if (!password.match(/^[a-zA-Z0-9]{5,14}/g)) {
          errors.push(
            "Mật khẩu phải có từ 6-15 kí tự và không có kí tự đặc biệt"
          );
        }

        if (errors.length !== 0) {
          errorMessageWrapper.style.display = "block";
          errorMessageWrapper.innerHTML = errors
            .map(error => `<li>${error}</li>`)
            .join("");
        } else {
          console.log("assd");
          form.submit();
        }
      });
    </script>
  </body>
</html>
