<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buổi 1 bài 2</title>
</head>
<body>
    <h1 style="color: red; text-align:center">Đăng ký tài khoản mới</h1>
                    <p style="text-align: center">Vui lòng điền đầy đủ thông tin bên dưới để đăng ký tài khoản</p>
                    <form style="border: 1px solid #000;display: inline-block;padding: 15px">
                        <table style="background: #ddd; padding: 15px">
                            <tr>
                                <td>Tên đăng nhập</td>
                                <td><input type="text" name="username"></td>
                            </tr>
                            <tr>
                                <td>Mật khẩu</td>
                                <td><input type="password" name="password"></td>
                            </tr>
                            <tr>
                                <td>Gõ lại mật khẩu</td>
                                <td><input type="password" name="rePassword"></td>
                            </tr>
                            <tr>
                                <td>Hình đại diện</td>
                                <td><input type="file" name="avatar"></td>
                            </tr>
                            <tr>
                                <td>Giới tính</td>
                                <td>
                                    <input type="radio" value="male" name="sex"> <span>Nam</span>
                                    <input type="radio" value="female" name="sex"> <span>Nữ</span>
                                    <input type="radio" value="dif" name="sex"> <span>Khác</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Nghề nghiệp</td>
                                <td>
                                    <select name="job">
                                        <option value="student">Học sinh</option>
                                        <option value="teacher">Giáo viên</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Sở thích</td>
                                <td>
                                    <input type="checkbox" value="sport" name="hobbi"> Thể thao
                                    <input type="checkbox" value="travel" name="hobbi"> Du lịch
                                    <input type="checkbox" value="music" name="hobbi"> Âm nhạc
                                    <input type="checkbox" value="fashion" name="hobbi"> Thời trang
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit">Đăng kí</button>
                                </td>
                                <td>
                                    <button type="reset">Làm lại</button>
                                </td>
                            </tr>
                        </table>

                    </form>
</body>
</html>