.about-item {
    display: flex;
    margin-bottom: 80px;
    font-size: 1.1rem;
    align-items: center;
    img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 10;
        display: block;
        box-shadow: 10px 10px 0px 2px #43434180;
    }

    .left {
        order: 1;
        position: relative;
        flex: 1;
        padding-right: 50px;
    }

    .right {
        order: 2;
        position: relative;
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    .about-item {
        flex-direction: column;
        justify-content: center;

        .left,
        .right {
            margin: 40px 0;
        }
    }
}
