.article-row {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding-top: calc(56.25% + 20px);
    position: relative;
    margin-bottom: 40px;
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &__title {
        margin-top: 0;
        font-size: 1.3rem;
        color: $black;
        font-family: "Montserrat", sans-serif;
        text-transform: capitalize;
    }
    p,
    span {
        color: $paragraph;
    }

    .btn-wrapper {
        margin-top: 15px;
        .btn {
            margin-right: 10px;
        }
    }
}
