.btn{
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    border: 1px solid $black;
    border-radius: 3px;
    padding: 5px 10px;
    background: $white;
    transition: all 0.3s ease-out;
    &:hover{
        color: $white;
        background: $black;
    }
}