.loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    left: 0;
    top: 0;
    #loading_text_pattern {
        color: $white;
        .rect-color {
            color: $white;
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
        .rect-animate {
            color: #868686;
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
    }
    .text-wrapper {
        position: absolute;
        width: 100%;
        height: 300px;
    }
    .main-text {
        text-transform: uppercase;
        font-size: 4rem;
        color: #fff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        fill: url(#loading_text_pattern);
        white-space: normal;
        font-weight: bold;
        @include maxWidth($xl) {
            font-size: 2rem;
        }
        @include maxWidth($md) {
            font-size: 1.5rem;
        }
        @include maxWidth($sm) {
            font-size: 1rem;
        }
    }
    .black-box {
        background-color: $black;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .white-box {
        background-color: $white;
        position: absolute;
    }
}
