.project-comp{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 30px;  
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    img{
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-left: 10px; 
    }
    h4{
        margin-top: 0;
        font-size: 1.3rem;
        color: $black;
        font-family: 'Montserrat', sans-serif;
        text-transform: capitalize;
        
    }
    p, span{
        color:$paragraph;
    }
    .btn-wrapper{
        margin-top: 15px;
        .btn{
            margin-right: 10px;
        }
    }
}